.red-btn {
    width: 170px !important;
    height: 52px !important;
    background: #d33639 !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    border: unset !important;
    font-family: "teko" !important;
    line-height: 26px;
}
.red-btn:hover {
    background: inherit !important;
    color: #d33639 !important;
    border: 3px solid #d33639 !important;
    transition: ease-in-out 0.3s;
}

.red-btn:disabled {
    background: rgba(211, 54, 57, 0.8);
}

.white-btn {
    background: #ffffff;
    color: #d33639;
}
.white-btn:hover {
    background: inherit;
    border: 3px solid #ffffff;
    color: #ffffff;
}
