.home-page-slider {
    width: 570px;
    .ant-carousel {
        .carousel-container {
            .image {
                width: 570px;
                height: 530px;
            }
        }
    }
    .buttons-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 60px;
        .buttons-items {
            width: 10%;
            display: flex;
            justify-content: space-between;
            .arrow-icon {
                width: 16px;
            }
        }
    }
}
