.input-group {
    .ant-input {
        width: 250px;
        height: 40px;
    }
    .ant-input:hover {
        border-color: #d9d9d9;
    }
    .ant-input:focus, .ant-input-focused{
        border-color: #d9d9d9;
        box-shadow: unset;
    }
    textarea{
        width: 540px !important;
        resize: none;
    }
}
