.liner-slider {
    width: 100%;
    .buttons {
        // width: 100%;
        display: flex;
        justify-content: flex-end;
        img{
            width: 16px;
        }
        .prevEl{
            margin-right: 10px;
            cursor: pointer !important;
        }
        .nextEl{
            cursor: pointer !important;
        }
    }
}
