.link {
    cursor: pointer;
}
a {
    color: unset !important;
}
.main-container-header {
    background-image: url("/assets/images/shadow.png"), url("/assets/images/contactUs.png");
    height: 500px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.main-heder-about {
    background-image: url("/assets/images/shadow.png"), url("/assets/images/contactUs.png");
    height: 650x;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.comics-intrioduction {
    .cover-name-container {
        display: flex;
        font-family: "teko";
        .cover-text {
            font-size: 200px;
            color: #e3e3e3;
        }
        .cover-name-header {
            font-size: 60px;
            position: absolute;
            top: 17vh;
            color: #d33639;
            font-weight: 700;
            .second-text {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 95%;
                .underLine {
                    width: 200px;
                    height: 4px;
                    background: #d33639;
                }
            }
        }
    }
    .text-container {
        width: 40%;
        margin-bottom: 20px;
    }
}
.comics-desc-content-header {
    position: relative;
    font-family: "teko";
    display: flex;
    justify-content: flex-start;
    width: 50%;
    .text-header {
        color: #e8eaea;
        letter-spacing: 0.04em;
        font-weight: 700;
        position: relative;
        font-size: 50px;
        z-index: 999;
    }
    .background {
        position: absolute;
        top: -40px;
        left: 5px;
        color: #c83134;
        font-size: 100px;
        letter-spacing: 0.04em;
        line-height: 145px;
        font-weight: 700;
    }
}
.page-header {
    .comics-desc-content-header {
        width: unset;
        .text-header {
            color: #d33639;
            line-height: 50px;
            font-size: 60px;
            letter-spacing: unset;
        }
        .background {
            color: #e4e4e4;
            top: unset;
            line-height: 30px;
            left: 7vw;
            font-weight: 700;
        }
    }
}
