.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    position: absolute;
    width: 100%;
    .left-col {
        display: flex;
        flex: 0.5;
        justify-content: flex-start;
        .logo-container {
            width: 160px;
            display: flex;
            justify-content: start;
            height: 45px;
        }
    }
    .right-col {
        display: flex;
        flex: 0.3;
        justify-content: center;
        nav {
            display: flex;
            justify-content: space-between;
            width: 70%;
            .selected-tab{
                height: 2px;
                background-color: #d33639;
                margin-top: 2px;
            }
            a {
                color: #d33639;
                font-size: 13px;
                font-family: "openSans";
                font-weight: 700;
            }
        }
    }
}