.home-page {
    .home-page-top {
        display: flex;
        justify-content: center;
        .home-com-int {
            width: 40%;
            display: flex;
            justify-content: center;
        }
        .home-images-slider {
            width: 45%;
        }
    }
    .comics-desc-container {
        position: relative;
        margin: 0 auto;
        .comics-desc-top {
            top: -25px;
        }
        .comics-desc-bottom {
            right: 0;
            bottom: -3vh;
        }
    }
    .home-page-image {
        height: 540px;
        margin: 60px 0;
    }
    .hame-page-cooparate {
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        .comics-intrioduction {
            width: 60%;
            .cover-name-container .cover-name-header {
                position: unset;
                line-height: 70px;
            }
            .text-container {
                width: 100%;
            }
        }
    }
    .page-footer-container {
        margin-bottom: 60px;
    }
}
