.short-comics-page {
    .short-comics-content {
        width: 90%;
        margin: 0 auto;
        .page-header {
            margin: 40px 0;
            .comics-desc-content-header .background {
                left: 5vw;
            }
        }
    }
}
