.short-comics-page {
    .comics-desc-content-header {
        .text-header {
            font-size: 60px;
            color: #d33639;

        }
        .background {
            line-height: 50px;
            color: #e4e4e4;
            top: 15px;
            left: 6vw;
        }
    }
}
